<main>
  <section>
    <div class="container">
      <h1>Welcome to {{ title }}!</h1>
      <h2>Prueba Angular v12</h2>
      <p>Este es un proyecto de prueba para Angular v12. Estilos heredados desde Angular Material.</p>
      <p>Para más información, visita <a href="https://angular.io" target="_blank" rel="noopener">angular.io</a>.</p>
    <button mat-raised-button color="primary">Primary</button> &nbsp;
    <button mat-raised-button color="accent">Accent</button> &nbsp;
    <button mat-raised-button color="warn">Warn</button> &nbsp;

    </div>
  </section>
</main>
